<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCq5WJfEJ0RPECj1N_lET-zZY7NOwOnL9s</string>
	<key>GCM_SENDER_ID</key>
	<string>879793043063</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.ThreadsClone</string>
	<key>PROJECT_ID</key>
	<string>iosthreadsclone</string>
	<key>STORAGE_BUCKET</key>
	<string>iosthreadsclone.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:879793043063:ios:b335ad91cf6ff15f7b7872</string>
</dict>
</plist>